/* styles.css */

/* Reset básico para o body */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

/* Estilo do hero */
.hero {
    height: 100vh;
    background: url('/img/background.png') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 2rem;
}

.hero-content {
    position: absolute;
    top: 30rem;
    left: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content .btn {
    background-color: #1820ef;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hero-content .btn:hover {
    background-color: #808383;
}

/* Página de Seleção */
.selection {
    padding: 20px;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    margin-top: 3rem;
}

.card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 200px;
    text-align: center;
    padding: 10px;
    margin: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
    position: relative;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card img[data-image-active] {
    display: none;
}

.card.selected img[data-image-active] {
    display: block;
}

.card img:not([data-image-active]) {
    display: block;
}

.card.selected {
    border: 2px solid #1820ef;
    background-color: #1820ef;
    color: white;
}

.card.selected h3, .card.selected small, .card.selected p.price {
    color: white;
}

.card.selected p.price {
    color: #ffc024;
}

h2 {
    margin: 10px 0 0;
}

.price {
    color: #ff4e42;
    font-weight: bold;
    margin-top: 10px;
}

.card.selected {
    border: 2px solid #1820ef;
    background-color: #1820ef;
    color: white;
}

.btn-submit {
    display: flex;
    justify-content: center;
}

.finalizar {
    background-color: #808383;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.finalizar:hover {
    background-color: #1820ef;
}